* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.course-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 5rem;
}

 
.course {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.course img {
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.content p {
  font-size: 0.7rem;
  color: #666;
}

.author-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.author-price img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.img-profile {
  display: flex;

  gap: 0.5rem;
}

.img-profile h4 {
  font-size: 1rem;
  font-weight: 200;
}


span {
    color: rgb(50, 50, 211);

}

@media (max-width: 650px) {
  .course-container {
  grid-template-columns: 1fr; 
  }
}